{% extends '_base.html' %}

{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Flask XSS</h1>
        <p>An intentionally vulnerable Flask XSS playground</p>
    </div>

    <div class="container">
        {% for index, page_name in enumerate(pages.keys()) %}
            {% set max_cards_per_row = 3 %}
            {% if index % max_cards_per_row == 0 %}
                <div class="row">
            {% endif %}
        <div class="card col-md-4">
            <div class="card-body">
                <h4 class="card-title">{{ page_name }}</h4>
                <a href="{{ pages[page_name] }}" class="card-link">{{ page_name }}</a>
            </div>
        </div>

        {% if index % max_cards_per_row == max_cards_per_row-1
                or len(pages) == index - 1%}
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}